/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/************************************************
*                                               *
*                   MY STYLES                   *
*                                               *
*************************************************/
.left{
    float: left;
}
.clear{
    clear: both;
}
.none{
    display: none;
}
.all-content, .search-header{
    width: 100%;
}
.content{
    width: 610px;
    margin: 0 auto;
    position: relative;
}
.logo{
    font-size: 40px;
    text-align: center;
    width: 600px;
    margin: 45% auto 0;
}
.form-content{
    width: 100%;
    position: relative;
}
.url-to-validade{
    width: 529px;
    padding-left: 10px;
    background-color: transparent;
    height:25px;
    font-size: 21px;
}
.do-validate, .url-to-validade, .lupa{
    height: 40px;
}
.do-validate{right: 26.8%;padding: 5.5px 10px;}
.do-validate{
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ae2a2a),to(#bb1515));
    background-image: -webkit-linear-gradient(top,#ae2a2a,#bb1515);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
    border: 1px solid #bb1515;
    color: #fff;
    margin: 0 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    min-width: 54px;
    text-align: center;
    height: 46px;
    position: relative;
    top: -2px;
    left: -4px;
}
.do-search-result{padding: 2px 10px;}
.lupa{
    right: 26.98%;
}
.lupa, .lupa-result{
    background: url(http://ssl.gstatic.com/gb/images/k1_a31af7ac.png);
    background-size: 294px 45px;
    background-position: -33px 0;
    display: inline-block;
    height: 13px;
    margin: 9px 18px;
    width: 14px;
    cursor: pointer;
}
.lupa-result{
    right: 44.8%;
    position: absolute;
    margin:6px 18px !important;
}
.logo-mini{
    font-size: 27px;
    float: left;
    line-height: 13px;
    margin:25px 20px;
}

.search-header{
    background: #f2f2f2;
    min-height: 65px;
}
.search-result{
    width: 500px;
}
.form-content-result{
    width: 50%;
    margin-top: 23px;
    display: inline-block;
    vertical-align: top;
}
.result{
    padding: 10px 0px;
}
.result ol{
    list-style: none;
}
.text-result{
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.text-result h2{
    font-size: 16px;
    padding: 5px 20px;
}
.title-result{
    margin: 0px;
}
.result-content{
    padding-left:20px;
    width: 600px; 
}
.list-erros ul{
    width: 100%;
    float: left;
    list-style:none;
    padding: 0;
}
.warning, .error{
    padding-left: 35px;
    line-height:33px;
}
.warning{
    background: url(../img/warning.png) no-repeat;   
}
.error{
    background: url(../img/error.png) no-repeat;
}

